.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


























.container{
  max-width: 1400px;
}

.form-box{
  max-width: 800px; 
  margin: 0 auto;
  text-align: center;
}

.userTxt{
  width: 120px;
}

.small-text{
  font-size: small;
}

.emailBodyText{
  white-space: pre-wrap;
}

.list-header{
  background-color: rgba(0, 0, 0, 0.03)
}

.mouse-pointer{
  cursor: pointer;
}

.new-mail{
  font-size: xx-small;
  color: red;
  border: 1px solid red;
  float: right;
  padding: 0px 3px;
}

.logo-image{
  width: 50px;
}
